<%= stylesheet_link_tag 'common', :media => "all" %>
<ul class="navi-item">
  <li class="nav-item">
    <div class="header-search">
      <%= form_tag(search_rooms_path,:method => 'get') do %>
      <%= text_field_tag :address,"",placeholder:"エリアを入力",class:"form-control" %>
      <%= submit_tag '', class:"search_sub" %>
      <% end %>
    </div></li>
  <li class="nav-item">
    <div class="header-search">
      <%= form_tag(search_rooms_path,:method => 'get') do %>
      <%= text_field_tag :search,"",placeholder:"キーワードを入力",class:"form-control" %>
      <%= submit_tag '', class:"search_sub" %>
      <% end %>
    </div></li>
  <div class="login_user">
    <div class="user_name"><%= @user.name %></div>
    <div class="user_avatar" id="user_icon" >
      <% if @user.image? %>
      <%= image_tag @user.image.url, :size => '80x70', class: 'user_image'%>
      <% else %>
      <%= image_tag 'fallback/defalt_user_avatar.jpeg',:size => '80x70',class: 'user_image' %>
          <% end %>
  </div>
  <div id="navi" class="popup-nav">
      <p><%= link_to"ルーム登録","/rooms/new",class:"js_menu" %></p>
      <p><%= link_to"予約済みのルーム一覧","/reservations/",class:"js_menu" %></p>
      <p><%= link_to"登録済みのルーム一覧","/rooms/index",class:"js_menu" %></p>
      <p><%= link_to"設定","/users/account",class:"js_menu" %></p>
      <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "js_menu" %></p>
  </div>
</div>

<script type="text/javascript">
  $(function(){
     $('#user_icon').click(function () {
     $('#navi').slideToggle(300);
     });
  });
</script>

