<%= stylesheet_link_tag 'reservations', :media =>"all" %>
<div class="reservation-container">
  <div class="reservations-box">
    <h3>予約内容確認</h3>

  <%= form_with(model: @reservation, local: true) do |form| %>
  <hr class="line">
    <h4 class="price-oneday">¥<%= @room.price %> / 日</h4>
    <hr class="line">
    <p class="sub-title">開始日</p>
    <dd><%= @reservation.start_date.to_s(:datetime_jp) %></dd>
    <hr>
    <p class="sub-title">終了日</p>
    <dd><%= @reservation.end_date.to_s(:datetime_jp) %></dd>
    <hr class="line">
    <p class="sub-title">人数</p>
    <dd><%= @reservation.number_of_people %>人</dd>
    <hr class="line">
    <p class="sub-title">宿泊日数</p>
    <dd><%= @reservation.total_days %>日</dd>
    <hr class="line">
    <p class="sub-title">合計金額</p>
    <dd><%= @reservation.total_price %>円</dd>
    <hr class="line">

    <%= form_for @reservation do |f| %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :start_date %>
        <%= f.hidden_field :end_date %>
        <%= f.hidden_field :number_of_people %>
        <%= f.hidden_field :total_days %>
        <%= f.hidden_field :total_price %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :room_id%>
        <%= f.submit '予約確定', class:"reservation-btn" %>
    <% end %>

    <div class="btn-design">
      <%= link_to 'ルーム詳細に戻る', :back %>
    </div>
  <% end %>
  </div>
</div>
