<%= stylesheet_link_tag 'rooms', :media =>"all" %>
<div class="room_index_main">
  <h2>登録済みルーム一覧</h2>

  <table class= "room_table">
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
        <th>編集</th>
        <th>削除</th>
        </tr>
      </thead>
 
      <tbody>
        <% @rooms.each do |room| %>
        <tr>
          <td><%= image_tag room.room_image.url, class:"room_image" %></td>
          <td><%= link_to room.room_name , room, class:"room_name"%></td>
          <td><%= room.room_profile %></td>
          <td>¥<%= room.price %></td>
          <td><%= room.created_at %></td>
          <td><%= link_to "編集", [:edit, room],class:"room_tag" %></td>
          <td><%= link_to "削除", room, method: :delete, data: { confirm: "本当に削除しますか？" },class:"room_tag" %></td>
        <% end %>
          </tr>
      </tbody>
    </table>
</div>


