<%= stylesheet_link_tag 'rooms', :media =>"all" %>
<% if flash[:notice] %>
<div class="room_index_main">
  <h2>登録済みルーム一覧</h2>

  <table>
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
        <th>編集</th>
        <th>削除</th>
        </tr>
      </thead>
 
      <tbody>
          <tr>
            <% @rooms.each do |room| %>
            <td><%= image_tag room.room_image %></td>
            <td><%= link_to room.room_name %></td>
            <td><%= room.room_profile %></td>
            <td>¥<%= room.price %></td>
            <td><%= room.created_at %></td>
            <td><%= link_to "編集", [:edit, room] %></td>
            <td><%= link_to "削除", room, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
            <% end %>
          </tr>
      </tbody>
    </table>
</div>
<% end %>

